body{

font-family: Arial;

background:#f0f0f0;

text-align:center;

}

.card{

background:rgb(214, 234, 231);

width: 650px;

margin:100px auto;

padding:30px;

border-radius:10px;

box-shadow:0 0 10px gray;

}

.avatar{

width:120px;

height:120px;

border-radius:50%;

object-fit:cover;

}

.social a{

display:inline-block;

margin:10px;

padding:8px 15px;

background:rgb(37, 49, 64);

color:white;

text-decoration:none;

border-radius:5px;



}

button{

margin-top:20px;

padding:10px 20px;

background:rgb(234, 147, 188);

color:white;

border:none;

border-radius:5px;

cursor:pointer;

}

#customize-hover effect for social links
.social a:hover{

background:rgb(181, 181, 194);

transform:scale(1.1);

}
#animate the button on hover
button:hover{

background:red;

}
.button-group{

display:flex;

justify-content:center;

gap:10px;

margin-top:20px;

}
h1{
color: color[random]
}

h2{
color:#794b5c;
}